html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
}

.header {
	width: 100%;
    height: 170px;
    border-bottom: 1px solid #d7d9df;
}

.header__logo {
	text-transform: uppercase;
	font-weight: 800;
	margin-left: 4.4%;
    padding-top: 40px;
}

.header__menu {
	float: right;
	margin-top: 50px;
	margin-right: 40px;
}

.header__menu > a {
	text-decoration: none;
	color: black;
	margin-left: 45px;
}

.header__menu > a:hover {
	text-decoration: underline;
	color: #d89b64;
}

.main {
	width: 100%;
	height: 1400px;
}

.main__top {
	margin: 10px 0;
	display: flex;
	width: 100%;
	height: 400px;
	flex-direction: column;
}

.main__top-perfection {
	width: 100%;
	height: 250px;
}

.main__top-perfection-square {
	margin: auto;
	width: 600px;
	height: 180px;
	background-image: url(../images/gratia.png);
}

.perfection {
	text-align: center;
	font-family: "Montserrat";
	font-size: 50px;
	font-weight: bold;
}

.someWords {
	text-align: center;
	font-family: "CrimsonText-Regular";
    font-size: 20px;
}

.main__middle {
	width: 100%;
	height: 900px;
}

.main__middle-container {
	width: 1300px;
	height: 810px;
	display: flex;
	margin: auto;
	flex-direction: column;
}

.main__middle-container-left {
	width: 650px;
	height: 450px;
	margin: 0;
	flex-direction: row;
}

.main__middle-container-left-2 {
	display: flex;
}

.main__middle-container-right {
	width: 650px;
	height: 450px;
	margin: 0;
	flex-direction: row;
}

.main__middle-container-left-first-string {
	height: 150px;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 0;
}

.input-middle {
	text-align: center;
	font-size: 20px;
	width: 180px;
	height: 55px;
	font-weight: border;
	color: #000;
	margin: auto;
	box-shadow: 50px 50px 200px #ccc;
}

.main__middle-container-left-second-string {
	height: 150px;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 0;
}

.input-left {
	text-align: left;
	font-size: 20px;
	width: 612px;
	height: 55px;
	color: #000;
	margin: auto;
	text-indent: 15px;
	box-shadow: 50px 50px 200px #ccc;
}

.main__middle-container-left-third-string {
	height: 145px;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 0;
}

.main__middle-container-right {
	width: 650px;
	height: 450px;
	margin: 0;
}

.main__middle-container-right-first-string {
	height: 150px;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 0;
}

.input-middle-big {
	text-align: center;
	font-size: 20px;
	width: 290px;
	height: 55px;
	color: #000;
	margin: auto;
	box-shadow: 50px 50px 200px #ccc;
}

.main__middle-container-right-second-string {
	height: 150px;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 0;
}

.main__middle-container-right-third-string {
	height: 145px;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 0;
}

input::-webkit-input-placeholder { 
	color: black; 
}

.button {
	text-align: left;
	font-size: 20px;
	width: 614px;
	height: 55px;
	color: orange;
	background-color: #000;
	margin: auto;
	text-indent: 15px;
	box-shadow: 50px 50px 200px #ccc;

}

.main__middle-container-first-big-string {
	text-align: left;
	font-size: 20px;
	height: 300px;
	color: #000;
	margin-top: 0;
	margin-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.textarea {
	text-align: left;
	font-size: 20px;
	width: 1260px;
	height: 260px;
	text-indent: 15px;
	color: #000;
	margin-top: 0;
	margin-left: 0;
	display: flex;
	justify-content: left;
	box-shadow: 50px 50px 200px #ccc;
}

.button-send {
	text-align: center;
	font-size: 20px;
	width: 1268px;
	height: 55px;
	color: white;
	background-color: #d69a63;
	margin: auto;
	display: flex;
	justify-content: center;
	box-shadow: 50px 50px 200px #ccc;
}


.input-middle-big {
	text-align: center;
	font-size: 20px;
	width: 290px;
	height: 55px;
	font-weight: border;
	color: #000;
	margin: auto;
}

.site-map {
	width: 100%;
	height: 500px;
	margin-top: 100px;
}

.site-map__bottom {
	width: 100%;
	position: relative;
}

.circleLogo__container {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 200px;
	border-radius: 150px;
	border: solid 1px #d7d9df;
	z-index: 10;
	background: white;
	position: relative;
}

.circleLogo {
	width: 120px;
	height: 120px;

}

.circle__logoline {
	border: 1px solid #d7d9df;
	position: absolute;
	width: 100%;
	top: 50%;
	z-index: 1;
}

.site-map__gratia {
	text-align: center;
	font-family: "Montserrat";
	font-size: 25px;
	margin-top: 50px;
}

.site-map__gratia__container {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sociallogo {
	width: 15.5%;
	margin-top: 80px;
	text-align: center;
	padding-top: 25px;
	border-top: solid 1px #d7d9df;
}

.sociallogo__FaceBook, 
.sociallogo__Instagram, 
.sociallogo__Twitter {
	width: 45px;
	height: 45px;
}