@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Regular.ttf") format("ttf");
   }

body {
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	height: 1100px;
	background-color: #151b28;
}

.header__logo {
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	margin-left: 4.4%;
    padding-top: 40px;
}

.header__menu {
	float: right;
	margin-top: 40px;
	margin-right: 40px;
}

.header__menu > a {
	text-decoration: none;
	color: white;
	margin-left: 45px;
}

.header__menu > a:hover {
	text-decoration: underline;
	color: #d89b64;
}

.header__book {
	background: none;
	border: 1px solid #d89b641c; 
	padding: 15px 40px;
	float: right;
	margin-right: 20px;
	font-size: 16px;
	color: #d89b64;
	cursor: pointer;
	font-family: "Montserrat";
	font-weight: bold;
}

.topnav a{
	color: #fff;
	text-align: center;
	padding: 0 15px;
	font-size: 14px;
	font-weight: bold;
}

.topnav a:hover {
	/* border-bottom: 3px solid #fcac45; */
}

.topnav .icon {
	display: none;
}

.header__logo-text {
	margin: 0;
	padding: 0;
}

.header__list {
	 list-style: none;
	 display: flex;
	 align-items: center;
	 justify-content: space-between;
}

.main {
	width: 100%;
	display: flex;
	height: 1100px;
}

.main__top {
	margin: 5px 0;
	width: 100%;
	height: 900px;
}

.main__top-perfection {
	width: 100%;
	height: 250px;
}

.main__top-perfection-square {
	margin: auto;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 180px;
	background-image: url(../images/gratia.png);
}

.perfection {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.deserts {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: #d89b64;
	margin: 80px 35px 5px 35px;
}

.breakfast {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: #d89b64;
	margin: 80px 35px 5px 35px;
}

.someWords {
	text-align: center;
	font-size: 20px;
}

.words {
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.underlining {
	text-align: center;
	color: #d89b64;
}

.main_top-tripleBlock {
	display: flex;
	width: 100%;
	height: 600px;
	align-items: center;
}

.main_top-tripleBlock-desserts {
	margin: 65px 10px 25px 0;
	float: left;
	width: 33%;
	height: 370px;
	background-image: url(../images/desserts.jpg);
}

.main_top-tripleBlock-Smoothies {
	width: 30%;
	height: 500px;
	margin: auto;
	padding: 0;
	background-image: url(../images/smoothies.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main_top-tripleBlock-Breakfast {
	margin: 65px 0 25px 10px;
	width: 33%;
	float: right;
	height: 370px;
	background-image: url(../images/breakfast.jpg);
}

.check {
	width: 100%;
	height: 100px;
	margin: 30px auto 20 px auto;
	text-align: center;
	color: #d89b64;
	line-height: 10%;
}

.main__bottom { 
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	width: 100%;
	height: 800px;
	margin: auto;
	background-image: url(../images/main.jpg);
}

.main__bottom-square {
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 700px;
	height: 400px;
	background-image: url(../images/whitesquare.jpg);
}

.main__bottom-details{
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
	width: 620px;
	border: solid 1px #d7d9df;
}

.details {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	color: #000;
	margin-top: 40px;
	margin-bottom: 40px;
}

.speech {
	text-align: center;
	font-size: 18px;
	color: #a8acb6;
	margin-top: 20px;
	margin-bottom: 55px;
}

.preparation {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
	color: #d89b64;
	border: solid 1px #d7d9df;
	height: 40px;
	width: 300px;
	margin: auto;
}

.main__footer {
	margin: 5px 0;
	width: 100%;
	height: 1100px;
}

.footer__square {
	margin: auto;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 180px;
	background-image: url(../images/gratia.png);
}

.footer__square-how {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
}

.footer-tripleBlock {
	display: flex;
	width: 100%;
	height: 600px;
	align-items: center;
}

.footer__triple-locations {
	margin: 65px 10px 25px 0;
	float: left;
	width: 31%;
	height: 270px;
	background-image: url(../images/locations.jpg);
}

.different {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #d89b64;
	margin: 80px 35px 5px 35px;
}

.text {
	text-align: center;
	font-size: 20px;
	color: #a8acb6;
}

.footer__triple-products {
	width: 33%;
	height: 400px;
	margin: auto;
	padding: 0;
	background-image: url(../images/freshproducts.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.fresh {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #d89b64;
	margin: 160px 35px 5px 35px;
}

.footer__triple-begining {
	margin: 65px 0 25px 10px;
	width: 31%;
	float: right;
	height: 270px;
	background-image: url(../images/begining.jpg);
}

.theBest {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #d89b64;
	margin: 80px 35px 5px 35px;
}

.site-map {
	width: 100%;
	height: 500px;
	margin-top: 100px;
}

.site-map__bottom {
	width: 100%;
	height: 800px;
	/* border-top: solid 1px #d7d9df; */
}

.circleLogo__container {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 300px;
	height: 300px;
	border-radius: 150px;
	border: solid 1px #d7d9df;
}

.circleLogo {
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 150px;
	height: 150px;
	margin: auto;
	padding: 2px;
	background-image: url(../images/circlelogo.jpg);
}

.site-map__gratia {
	text-align: center;
	font-size: 25px;
	margin-top: 50px;
}

.site-map__gratia__container {
	width: 100%;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sociallogo {
	width: 15.5%;
	height: 70px;
	margin: auto;
	margin-top: 80px;
	background-image: url(../images/sociallogo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-top: solid 1px #d7d9df;
}